<!--
  <h1>Our Creator is great.
  <br/>
  {{title}}
   </h1>
-->
                                       <!-- ** Interpolation ** -->
<!--
  <h1>{{data}}</h1>
  <h1>{{creator()}}</h1>
-->

<h1>2+2 {{data}}</h1>
                                       <!-- Output will be 2+2 -->

<!-- <h1>{{2*2/4}}</h1> -->
                                       <!-- Output will be 1 -->

<!-- <h1>{{title=="blog"}}</h1> -->
                                      <!-- Output will be false -->

<!-- <h1>{{title="blog"}}</h1> -->
                                      <!-- It will not assign value -->

<!-- <h1> {{data}}</h1> -->
                                     <!--
                                           ng g c abc                          It generates abc component
                                           ng g m def                          It generates def module
                                           ng g c user-auth/sign-in           It adds component sign-in in module user-auth
                                           ng g c user-auth/sign-up           It adds component sign-up in module user-auth
                                           ng generate class Dummy            It adds class Dummy
                                           ng g interface dummyInterface          It adds Interface dummyInterface
                                           ng build                           to build folder create
                                      -->

                                      <app-ext></app-ext>

                                      <!-- We can change this <app-ext></app-ext>  to <app-ent></app-ent> by
                                           changing name on that component selector
                                      -->
